
.App {
  text-align: center;
  background-color: #383F51;
  color:#EEF0F2;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


